chardet==5.2.0
colorama==0.4.6
duckdb==1.2.2
duckdb_engine==0.17.0
flake8==7.2.0
greenlet==3.2.2
iniconfig==2.1.0
mccabe==0.7.0
numpy== 2.2.6
packaging==25.0
pandas==2.2.3
pluggy==1.6.0
py4j==0.10.9.7
pycodestyle==2.13.0
pyflakes==3.3.2
pyspark==3.5.5
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
SQLAlchemy==2.0.41
typing_extensions==4.13.2
tzdata==2025.2
